@model IEnumerable<Ecommerce.Models.WishList>

@* @{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@






@section Notification
 {
    @if (@TempData["AddToWishList"] != null)
    {
        <script>

            toastr.success('@TempData["AddToWishList"]')

        </script>

    }
    @if (@TempData["RemoveFromWishList"] != null)
    {
        <script>

            toastr.warning('@TempData["RemoveFromWishList"]')

        </script>

    }
    @if (@TempData["NotFound"] != null)
    {
        <script>

            toastr.warning('@TempData["NotFound"]')

        </script>

    }
    @if (@TempData["RemoveAllFromWishList"] != null)
    {
        <script>

            toastr.success('@TempData["RemoveAllFromWishList"]')

        </script>

    }
}


            <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/all.min.css">
    <link rel="stylesheet" href="./assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/wishListIndex.css">
</head>
<body>
    <section class="food_menu py-5">
        <div class="container py-5 ">
        <h4>Wish List Menu</h4>
        <div class="text_btns d-flex justify-content-between align-items-center flex-wrap ">
            <h2>Popular Laptop that u like</h2>
            
        </div>
        <div class="foods d-flex flex-wrap gap-5 justify-content-center py-5">
                @if (Model.Count() == 0)
                {
                    <h5>Empty</h5>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <div class="food_info">
                            <div class="image">
                                <img class="w-100 h-100" src="~/Images/@item.Product.Photo" alt="">
                            </div>
                            <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId"><h3>@item.Product.Name</h3></a>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <h4>@item.Product.Price <del>@(item.Product.Price * 1.5)</del></h4>
                            <div class="add_carts d-flex py-2 justify-content-center align-items-center mx-2">
                                <div class="cart_icons d-flex gap-3">
                                    <a asp-action="RemoveFromWishList" asp-controller="WishList" asp-route-id="@item.Id" class="heart active"><i class="fa-regular fa-heart py-2 px-2 "></i></a>
                                </div>
                            </div>

                        </div>
                    }
                }

            
        </div>
    </div>
    </section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="./assets/scripts/wishList.js"></script>
</body>
</html>