
  @model IEnumerable<FinalProject.Models.Brand> 

@section Notification
  {
    @if (@TempData["CreateBrand"] != null)
    {
        <script>

            toastr.success('@TempData["CreateBrand"]')

        </script>

    }
    @if (@TempData["UpdateBrand"] != null)
    {
        <script>

            toastr.info('@TempData["UpdateBrand"]')

        </script>

    }
    @if (@TempData["DeleteBrand"] != null)
    {
        <script>

            toastr.error('@TempData["DeleteBrand"]')

        </script>

    }
    @if (@TempData["NotFound"] != null)
    {
        <script>

            toastr.warning('@TempData["NotFound"]')

        </script>

    }
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/brandIndex.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/styles/all.min.css">
    <link rel="stylesheet" href="./assets/styles/bootstrap.min.css">
</head>
<body>
    <section class="contact2">
        <div class="container d-flex align-items-center">
            <img src="~/Images/BrandBackGround.jpeg" alt="">
            <div class="contact_text ">
                <div class="text">
                    <h1>Our Brands</h1>
                    <div class="home d-flex align-items-center gap-2">
                        <a asp-action="Index" asp-controller="Home" class="d-flex align-items-center gap-1">
                            <i class="fa-solid fa-house"></i>
                            <h4 style="color:#ffffff">Home</h4>
                        </a>
                        <span>-</span>
                        <a href="#">
                            <h4>Brands</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section >
          <div style="padding-top:1rem; padding-left:6.5%;">
            <a asp-action="Create" asp-controller="Brand" class="button_create" style="vertical-align:middle "><span>Add Brand </span></a>
          </div>
        <div class="container d-flex justify-content-center align-items-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-controller="Brand" asp-route-id="@item.Id">Edit</a>
                                <a type="button" href="#" class="btn btn-danger m- delete-button" data-brand-id="@item.Id"><i class="fa-regular fa-trash-can"></i>Delete</a>

                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </section>



    @* Modal *@

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <div class="confim_top d-flex justify-content-between align-items-center">
                <h2>Delete Confirmation</h2>
                <span class="close">&times;</span>
            </div>
            <p>Are you sure you want to delete this Brand?</p>
            <hr>
            <div class="d-flex justify-content-center align-items-center gap-5">
                <button class="cancelDelete" id="cancelDelete">Cancel</button>
                <button class="confirmDelete" id="confirmDelete">Confirm</button>
            </div>
        </div>
    </div>
    <script src="~/js/BrandIndex.js"></script>


        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }

</body>
</html>